<!-- templates/base_generic.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}NFL Pick'em{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Daher Pick'Em League</h1>
        <nav>
            {% if user.is_authenticated %}
                {% if request.path != '/accounts/dashboard/' and request.path != '/accounts/password_reset/' %}
                    <a href="{% url 'dashboard' %}">Dashboard</a>
                {% endif %}
                {% if request.path != '/accounts/profile/' and request.path != '/accounts/password_reset/' %}
                    {% if request.path != '/accounts/dashboard/' and request.path != '/accounts/password_reset/' %} | {% endif %}
                    <a href="{% url 'profile' %}">Profile</a>
                {% endif %}
            {% else %}
                {% if request.path != '/accounts/login/' %}
                    <a href="{% url 'login' %}">Log In</a>
                {% endif %}
                {% if request.path != '/accounts/signup/' %}
                    {% if request.path != '/accounts/login/' %} | {% endif %}
                    <a href="{% url 'signup' %}">Sign Up</a>
                {% endif %}
            {% endif %}
        </nav>
    </header>
    
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 NFL Pick'em League</p>
    </footer>
</body>
</html>
