{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pick 'Em League</title>
    <link href="https://api.fontshare.com/v2/css?f[]=general-sans@1&display=swap" rel="stylesheet">
    <script type="module" crossorigin src="{% static 'assets/index-B1u9Pzce.js' %}"></script>
    <link rel="stylesheet" crossorigin href="{% static 'assets/index-Dh1Dbm8w.css' %}">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>