{% extends "base_generic.html" %}

{% block content %}
  <h2>Select a Week</h2>
  <ul style="list-style: none; padding-left: 0;">
    {% for week in weeks %}
      <li><a href="{% url 'week_games' week %}">Week {{ week }}</a></li>
    {% empty %}
      <li>No games available.</li>
    {% endfor %}
  </ul>
  
<!-- Logout Button -->
<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Log Out</button>
</form>

<!-- Django requires a POST request to log out for security reasons, so we use a form with a logout button instead of a simple <a> link.-->

{% endblock %}
